.header {
  display: grid;
  grid-template-columns: 44% 12% 44%;
  justify-content: stretch;
  padding: 92px 24px 96px 24px;
}

.header__menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 7px;
    padding-left: 27px;
}

.header__menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 0;
    list-style: circle;
}

.header__menu-link {
  font-size: 19px;
  letter-spacing: -0.02em;
}

.header__menu-item_active {
  display: block;
  letter-spacing: -0.04em;
}

.header__menu-item_active .header__menu-link {
    text-decoration: none;
}

.header__logo {
  display: flex;
  justify-content: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  max-width: 400px;
  padding-top: 8px;
  padding-left: 197px;
  font-size: 18px;
  font-style: normal;
  line-height: 23px;
}

.cover {
  position: relative;
  z-index: 1;
  width: 1100px;
  height: 757px;
  padding: 170px 50px 0 50px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;

}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.cover__title {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 136px;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
}

.aligned-text-left {
  line-height: 1;
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  line-height: 1;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.cover__description {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 80px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -0.014em;
  word-spacing: 20px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 22px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);

}

.lots__heading {
  margin-top: 180px;
  padding-bottom: 27px;
  padding-left: 64px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 334px;
  height: 563px;
}

.card-link {
  display: block;
  text-decoration-line: none;
}

.card_type_film {
  width: 334px;
  height: 563px;
  background-image: url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_book {
  width: 334px;
  height: 563px;
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  width: 334px;
  height: 563px;
  background-image: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 52px 40px 48px 40px;
}

.card__title {
  z-index: 3;
  display: block;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 22px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 3;
  display: block;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2em;

}

.lots__look-more-link {
  margin-left: 64px;
  font-size: 20px;
  text-decoration: underline solid 1px;
}

.about__column {
  display: grid;
  grid-template-columns: 32%  63.4%;
  justify-items: center;
  gap: 23px;
  padding: 146px 24px 0 24px;
}

.about__card-logo {
  display: flex;
  width: 240px;
  height: 240px;
  margin-top: 2.3em;
}

.about__logo {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  justify-items: center;
  width: 148px;
}

.about__card-description {
  margin-top: 8.7em;
}

.about__title {
  margin-bottom: 2.45em;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__text {
  margin-bottom: 1.2em;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  word-spacing: 0.01em;
}

.footer {
  display: grid;
  grid-template-columns: 24% 52% 24%;
  justify-content: stretch;
  padding: 157px 50px 88px 50px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  max-width: 210px;
  font-size: 18px;
  font-style: normal;
  line-height: 23px;
}

.footer__menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  line-height: 21px;
  list-style: none;
}

.footer__menu-link {
  font-size: 19px;
  letter-spacing: -0.02em;
}

.footer__menu-item_active {
  display: block;
}

.footer__menu-item_active .footer__menu-link {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}